langchain
langchain-core
langchain-community
langchain-google-genai

google-genai
python-dotenv

sentence-transformers
faiss-cpu
numpy

duckduckgo-search

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2